<h3>Reserva de sala</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Horário</th>
    <th>Segunda</th>
    <th>Terça</th>
    <th>Quarta</th>
    <th>Quinta</th>
    <th>Sexta</th>
  </tr>
  </thead>
<% (6..23).each do |horario| %>
  <tbody>
  <tr>
    <td><%= format_hour(horario) %></td>
    <td><%= format_link(horario, @monday) %></td>
    <td><%= format_link(horario, @tuesday) %></td>
    <td><%= format_link(horario, @wednesday) %></td>
    <td><%= format_link(horario, @thursday) %></td>
    <td><%= format_link(horario, @friday) %></td>
  </tr>
  </tbody>
<% end %>
</table>

<br />
