<!DOCTYPE html>
<html>
<head>
  <title>Reserva</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Reserva</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>  
          <li><a href="#"><%= current_user.name %></a></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
          <li><%= link_to('Sign Up', new_user_registration_path)  %></li>
          <li><%= link_to('Login', new_user_session_path) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</div>
</body>
</html>
